[submodule "ics-openvpn"]
	path = ics-openvpn
	url = https://github.com/eduvpn/ics-openvpn
[submodule "common/libs/eduvpn-common"]
	path = common/libs/eduvpn-common
	url = https://github.com/eduvpn/eduvpn-common
[submodule "wireguard"]
	path = wireguard
	url = https://codeberg.org/fkooman/wireguard-android
